<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.herlina.uts_apotik">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LihatObat" />
        <activity android:name=".TambahObat" />
        <activity android:name=".TambahPabrik" />
        <activity android:name=".TambahType" />
        <activity android:name=".UpdateObat" />
        <activity android:name=".UpdatePabrik" />
        <activity android:name=".UpdateType"></activity>
    </application>

</manifest>